
/*Fuente*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
/*Variables*/
$background-color: #5f00b8;
/*Reseteo*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    font-family: 'Source Sans Pro', sans-serif;
}
/* Nav */ 
.bg-lav{
    background-color: $background-color;
    #navbarNav {
        transition: all 0.5s;
        .nav-link:hover{
            font-weight: bold;
          }
    }
  }
/*Index*/
@mixin fontSize ($size, $weight) {
    font-size: $size;
    font-weight: $weight; 
    
}

#index{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    .section__h1{
        @include fontSize( 30px, 1000)
    }
    .section__p{
        @include fontSize( 18px, 100)
    }

}
@media screen and (min-width: 768px){
    .section__img{
        float:right;
    }
}

/*CARTELERA*/
.mb-6 {
    margin-bottom: 4rem;
    .card{
        width: 18rem!important;
        .card-img-top:hover {
            opacity: 0.9;
        }
        .btn {
            background-color:  $background-color!important;
            transform: scale(0.9);
            &:hover{
                transform: scale(1);
                transition: transform 0.5s;
              }
          }
    }
  }
/*Contacto*/
.boton{
    text-align: center;
    color: white;
    border-radius: 30px;
    border: 1px solid black;
}
.btn__contact{
    @extend .boton;
    background-color: $background-color;
}
/* Footer */

$redes: (
    Facebook: #3b5998,
    Twitter: #38a5ff,
    Instagram: #ec09b3,
);
footer {
    position: absolute;
    width: 100%;
    background-color:$background-color;
    height: 100px;
    margin-top: 0px;
    display: flex;
    justify-content: end;
    .anchoFooter {
        margin-top: 30px;
        .redes {
            display: inline-block;
            .bi-facebook {
                font-size: 30px;
                text-align: center;
                margin-left: 5px;
                margin-right: 5px;
                color: #fff;
                &:hover {
                    color: map-get($map: $redes, $key: Facebook );
                  }
            }
            .bi-twitter {
                font-size: 30px;
                text-align: center;
                margin-left: 5px;
                margin-right: 5px;
                color: #fff;
                &:hover {
                    color: map-get($map: $redes, $key: Twitter );
                  }
              }
              .bi-instagram {
                font-size: 30px;
                text-align: center;
                margin-left: 5px;
                margin-right: 5px;
                color: #fff;
                &:hover {
                    color: map-get($map: $redes, $key: Instagram );
                  }
              }
        }
      }
  }