
/*Fuente*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
/*Variables*/
$background-color: #000000;
$btn-color: rgb(255, 140, 0);
/*Mixin*/
@mixin redes {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;

}
/*Extend*/
.contenedor{
    display:flex;
    justify-content: space-between;
}
/*Map*/
$redes: (
    Facebook: #3b5998,
    Twitter: #38a5ff,
    Instagram: #ec09b3,
);
/*Reseteo*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    font-family: 'Source Sans Pro', sans-serif;
}

/*Botones*/
.btn {
    background-color:  $btn-color!important;
    transform: scale(0.9);
    &:hover{
        transform: scale(1);
        transition: transform 0.5s;
      }
  }
/* Nav */ 
.navbar{
    background-color: $background-color;
    #logo{
        height: 80px;
        width: 80px;
    }
    #navbarNav {
        transition: all 0.5s;
        .nav-link{
            font-size: 20px;

        }
        .nav-item:hover{
            font-weight: bold;
          }
    }
  }
/*Index*/
.titulo{
    background-color: rgb(255, 140, 0);
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
@mixin fontSize ($size, $weight) {
    font-size: $size;
    font-weight: $weight; 
    
}
#index{
    margin: 0 auto;
    width: 80%;
    .contenedor-carousel{
        @extend .contenedor;
        .carousel__titulo{
            text-align: left;
        }
    }
}

.contenedor-grid{
    display: grid;
    grid-template-columns: auto  auto;
  }
  @media screen and (max-width: 768px){
    .contenedor-grid{
      display: grid;
      grid-template-columns: auto;
    }
  }

/*Nosotros*/
.contenedor__nosotros {
    img {
        width: 100%;
    }
}
.content__text {
    width: 100;
    margin: 0 auto;
    .complejos__link{
        font-weight: bold;
        color: black;
    }
}

/*CARTELERA*/
.contenedor__cartelera {
    margin-bottom: 4rem;
    .card{
        width: 18rem!important;
        .card-img-top:hover {
            opacity: 0.9;
        }
    }
  }

/*Complejos*/
#contenedor__complejos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oculto{
    display: none;
}

/* Footer */

footer {
    width: 100%;
    background-color:$background-color;
    display: flex;
    justify-content: end;
    .anchoFooter {
        margin-top: 10px;
        margin-bottom: 10px;
        .redes {
            display: inline-block;
            .bi-facebook {
                @include redes();
                &:hover {
                    color: map-get($map: $redes, $key: Facebook );
                  }
            }
            .bi-twitter {
                @include redes();
                &:hover {
                    color: map-get($map: $redes, $key: Twitter );
                  }
              }
              .bi-instagram {
                @include redes();
                &:hover {
                    color: map-get($map: $redes, $key: Instagram );
                  }
              }
        }
      }
  }