
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    font-family: 'Source Sans Pro', sans-serif;
}
/* Nav */ 
.bg-lav{
    background-color: #5f00b8;
  }
#navbarNav {
    transition: all 0.5s;
}
/*Index*/
#index{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
}
.section__div{
    display: flex;
}
@media screen and (min-width: 768px){
    .section__img{
        float:right;
    }
}

/*CARTELERA*/
.mb-6 {
    margin-bottom: 4rem;
  }
  
  
  .card-img-top:hover {
    opacity: 0.9;
  }
  
  
  .btn-lav {
    color: #fff;
    background-color:  #ff4141;
    border-color:  #A341FF;
  }
  
  .btn-lav:hover{
    color: #fff;
    background-color:  #8b0fff;
    border-color:  #8811f8;
    transform: scale(0.9);
  }

/* Footer */
footer {
    position: absolute;
    width: 100%;
    background-color:#5f00b8;
    height: 100px;
    margin-top: 0px;
    display: flex;
    justify-content: end;
  }
  
  .anchoFooter {
    margin-top: 30px;
  }
  
  .redes {
    display: inline-block;
  }
  
  .bi-facebook {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
  }
  
  .bi-facebook:hover {
    color: #3b5998;
  }
  
  .bi-twitter {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
  }
  
  .bi-twitter:hover {
    color: #38a5ff;
  }
  
  .bi-instagram {
    font-size: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
  }
  .bi-instagram:hover {
    color: #ec09b3;
  }
